html, body {
  margin: 0;
  padding: 0;
  background: black;
  text-align: center;
}
t1 {
  text-align: right;
  color: white;
  padding: 5px;
  font-size: 30px;
}
canvas {
  display: block;
}
